@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #c69963;
  --color-primary-dark: #b28451;
  --color-secondary: #101d2c;
  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;
  --color-grey-dark-1: #54483a;
  --color-grey-dark-2: #6d5d4b;
  --breakpoint-lg: 1025px; /*1025px*/
  --breakpoint-2md: 1001px; /*1000px*/
  --breakpoint-2lg: 75em; /*1200px*/
  --breakpoint-large: 62.5em; /*1000px*/
  --breakpoint-md: 50em; /*800px*/
  --breakpoint-sm: 37.5em; /*600px*/
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

:root {
  /* COLOR VARIABLES  */
  --color-primary: #c69963;
  --color-primary-dark: #b28451;
  --color-secondary: #101d2c;
  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;
  --color-grey-dark-1: #54483a;
  --color-grey-dark-2: #6d5d4b;

  /* FONT VARIABLES */
  --font-primary: "Nunito", sans-serif;
  --font-display: "Josefin Sans", sans-serif;

  /* // RESPONSIVE BREAKPOINTS */
  --bp-largest: 75em; /*1200px*/
  --bp-large: 62.5em; /*1000px*/
  --bp-medium: 50em; /*800px*/
  --bp-small: 37.5em; /*600px*/
}

/* // COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B; */

/* // FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif; */

/* // RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px; */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* font-size: 62.5%;

  @media only screen and (max-width: var(--bp-largest)) {
    font-size: 50%;
  } */
}

body {
  /* font-family: $font-primary; */
  color: var(--color-grey-dark-2);
  font-weight: 300;
  line-height: 1.6;
  /* max-width: 100% !important; */
}

.main-container {
  display: grid;
  /* grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: 8rem minmax(6rem, 1fr) repeat(8, minmax(min-content, 14rem)) minmax(6rem, 1fr); */

  /* @media only screen and (max-width: var(--bp-large)) {
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns:
      minmax(6rem, 1fr) repeat(8, minmax(min-content, 14rem))
      minmax(6rem, 1fr);
  } */

  /* @media only screen and (max-width: var(--bp-medium)) {
    grid-template-rows: 6rem calc(100vh - 6rem);
  } */

  grid-template-rows: 3.75rem calc(100vh - 3.75rem);

  grid-template-rows: 48px calc(100vh - 48px);
  grid-template-columns: minmax(48px, 1fr) repeat(8, minmax(min-content, 112px)) minmax(48px, 1fr);

  @media (min-width: 800px) {
    grid-template-rows: 48px 80vh min-content 40vw repeat(3, min-content);
    /* grid-template-columns:
      minmax(3.75rem, 1fr) repeat(8, minmax(min-content, 8.75rem))
      minmax(3.75rem, 1fr); */
    grid-template-columns: minmax(48px, 1fr) repeat(8, minmax(min-content, 112px)) minmax(48px, 1fr);;
  }

  @media (min-width: 1001px) {
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    /* grid-template-columns: 4rem minmax(3.75rem, 1fr) repeat(
        8,
        minmax(min-content, 8.75rem)
      ) minmax(3.75rem, 1fr); */
    grid-template-columns: 4rem minmax(48px, 1fr) repeat(8, minmax(min-content, 112px)) minmax(48px, 1fr);;
  }

  @media (min-width: 1200px) {
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: 5rem minmax(3.75rem, 1fr) repeat(
        8,
        minmax(min-content, 8.75rem)
      ) minmax(3.75rem, 1fr);
  }
}

/* @media (max-width: var(--bp-large)) {
.main-container{
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns:
      minmax(6rem, 1fr) repeat(8, minmax(min-content, 14rem))
      minmax(6rem, 1fr);
  }
}

@media (max-width: var(--bp-medium)) {
.main-container{
    grid-template-rows: 6rem calc(100vh - 6rem);
  }
} */

/* Sidebar */

/* .sidebar {
  background-color: var(--color-primary);
  grid-column: 1 / span 1;
  grid-row: 1 / -1;

  display: flex;
  justify-content: center;

  @media only screen and (max-width: var(--bp-large)) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-content: flex-end;
    align-items: center;
  }
} */

.nav-btn::before,
.nav-btn::after {
  content: "";

  /* background-color: #fff;
  height: 2px;
  width: 36px;
  display: block; */

  @apply bg-white h-0.5 w-9 block;
}

.nav-btn::before {
  transform: translateY(-10px);
}
.nav-btn::after {
  transform: translateY(10px);
}

@media (min-width: 1200px) {
.nav-btn::before,
.nav-btn::after {
  width: 45px;
}

.nav-btn::before {
  transform: translateY(-15px);
}
.nav-btn::after {
  transform: translateY(13px);
}
}

@media only screen and (max-width: var(--bp-large)) {
  .nav-btn::before {
    transform: translateY(-1.2rem);
  }
  .nav-btn::after {
    transform: translateY(1rem);
  }
}

/* Header */

.header {
  /* grid-column: 2 / span 7; */

  /* display: grid;
  grid-template-rows: 1fr min-content minmax(60px, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 15px;
  justify-content: center; */

  /* @media only screen and (max-width: var(--bp-medium)) {
    grid-column: 1 / -1;
  } */

  @media only screen and (max-width: var(--bp-small)) {
    padding: 5rem;
  }

  @apply grid col-span-full md:col-[1_/span_7] 2md:col-[2_/span_7] grid-rows-[1fr_min-content_minmax(60px,_min-content)_1fr] grid-cols-[minmax(min-content_,max-content)] gap-y-[15px] justify-center;

  /* & .header__logo {
    height: 3rem;
    justify-self: center;
  } */

  /* & .header__btn {
    align-self: start;
    justify-self: start;
  } */

  & .header__seenon-text {
    /* display: grid;
    grid-template-columns: 1fr max-content 1fr; */
    /* grid-column-gap: 15px; */
    /* align-items: center; */

    /* font-size: 1.6rem; */
    /* color: var(--color-grey-light-2); */

    &::before,
    &::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor;
    }
  }

  & .header__seenon-logos {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    justify-items: center;
    align-items: center; */

    @apply grid grid-cols-4 gap-x-6 2lg:gap-x-[30px] justify-items-center items-center ;

    img {
      /* max-height: 25px;
      max-width: 100%;
      filter: brightness(70%); */
      @apply brightness-[70%] max-w-full max-h-5 2lg:max-h-[25px]
    }
  }
}

/* Realtors */

.realtors {
  /* background-color: var(--color-secondary);
  grid-column: 9 / -1;
  padding: 3rem;

  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 2rem; */

  /* @media only screen and (max-width: var(--bp-medium)) {
    grid-column: 1 / -1;
  } */

  & .realtors__list {
    /* display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 20px;
    grid-row-gap: 5vh;
    align-items: center;

    @media only screen and (max-width: var(--bp-medium)) {
      grid-template-columns: repeat(3, min-content max-content);
    }

    @media only screen and (max-width: var(--bp-small)) {
      grid-template-columns: min-content max-content;
    } */

    @apply grid grid-cols-[max-content_max-content] sm:grid-cols-[repeat(3,_max-content_max-content)] md:grid-cols-[max-content_max-content] gap-x-5 gap-y-[5vh] items-center;
  }

  & .realtors__img {
    /* width: 70px;
    border-radius: 50%;
    display: block; */

    @apply block w-14 2lg:w-[70px] rounded-full;
  }

  & .realtors__sold {
    /* text-transform: uppercase;
    color: var(--color-grey-light-2);
    margin-top: -3px;
    font-size: 10px; */

    @apply uppercase text-grey-light-2 -mt-[3px] text-[8px] 2lg:text-[10px];
  }
}

/* Features */

.features {
  /* grid-column: 3 / -2;/ 
  display: grid;
  margin: 9.25rem 0;
  grid-gap: 3.75rem;
  align-items: start;
  */

  /* @supports (display: grid) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(15.62rem, 1fr));
    grid-gap: 3.75rem;
    align-items: start;
  } */
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    
    @media (min-width: 1024px) {
      grid-template-columns: repeat(auto-fit, minmax(15.62rem, 1fr));
    }

  @apply grid gap-12 lg:gap-14 items-start col-[2_/_-2] 2md:col-[3_/_-2] py-28 lg:py-[9.5rem];

}

.feature {
  /* float: left;
  width: 33.3333%;
  @supports (display: grid) {
    width: auto;
    margin-bottom: 0;
  } */
  

  /* display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 15px;
  margin-bottom: 3.75rem;
  width: auto;
  margin-bottom: 0;
  grid-column-gap: 1.5rem; */

  @apply grid grid-cols-[min-content_1fr] w-auto gap-y-3 lg:gap-y-[15px] gap-x-5 lg:gap-x-6
}

.feature__icon {
  /* fill: var(--color-primary);
  width: 2.8rem;
  height: 2.8rem; */
  grid-row: 1 / span 2;
  transform: translateY(-10px);

  @apply fill-primary w-9 lg:w-[2.8rem] h-9 lg:h-[2.8rem]
}

.feature__text {
  /* font-size: 1rem; */

  @apply text-sm lg:text-base
}

/* Story */

.story__pictures {
  grid-column: 2 / span 5;
  /* background-image: linear-gradient(rgba(var(--color-primary), .5), rgba(var(--color-primary), .5)), url(/public/img/back.jpg); */
  background-size: cover;

  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center;

  @media only screen and (max-width: var(--bp-medium)) {
    grid-column: 1 / -1;
    padding: 6rem;
  }
}

.story__img--1 {
  width: 100%;
  grid-row: 2 / 6;
  grid-column: 2 / 6;
  box-shadow: 0 2rem 5rem rgba(#000, 0.1);

  @media only screen and (max-width: var(--bp-medium)) {
    grid-column: 1 / 5;
    grid-row: 1 / -1;
  }
}

.story__img--2 {
  width: 115%;
  grid-row: 4 / 6;
  grid-column: 4 / 7;
  z-index: 20;
  box-shadow: 0 2rem 5rem rgba(#000, 0.2);

  @media only screen and (max-width: var(--bp-medium)) {
    grid-row: 1 / -1;
    width: 100%;
  }
}

.story__content {
  /* background-color: var(--color-grey-light-1);
  grid-column: 7 / -1; */

  padding: 3.75rem 8vw;

  /*
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  */

  display: grid;
  align-content: center;
  justify-items: start;

  @media only screen and (max-width: var(--bp-medium)) {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
  }

  @apply bg-grey-light-1 col-[7_/-1];
}

.story__text {
  /* font-size: 15px;
  font-style: italic;
  margin-bottom: 2.5rem; */

  @apply italic mb-10 text-[12px] lg:text-[15px];
}

/* Homes */

.homes {
  /* grid-column: 3 / span 8;
  margin: 9.37rem 0;

  display: grid;
  grid-gap: 70px; */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  @apply grid grid-cols-[repeat(auto-fit,_minmax(200px,_1fr))] lg:grid-cols-[repeat(auto-fit,_minmax(250px,_1fr))] col-[3_/_span_8] my-28 lg:my-[9.3rem] gap-14 lg:gap-16
}

.home {
  background-color: var(--color-grey-light-1);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 35px;
}

.home__img {
  /* width: 100%;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  z-index: 1; */

  @apply w-full row-[1_/2] col-span-full z-[1];
}

.home__like {
  /* grid-row: 1 / 2;
  grid-column: 2 / 3;
  fill: var(--color-primary);
  height: 25px;
  width: 25px;
  z-index: 2;
  justify-self: end;
  margin: 10px; */

  @apply row-[1_/2] col-[2_/3] fill-primary h-[25px] w-[25px] z-[2] justify-self-end m-2.5;
}

.home__name {
  /* grid-row: 1 / 2;
  grid-column: 1 / -1;
  justify-self: center;
  align-self: end;
  z-index: 3;
  width: 80%;
  font-size: 1rem;
  text-align: center;
  padding: 12px;
  background-color: var(--color-secondary);
  color: #fff;
  font-weight: 400;
  transform: translateY(50%);
  */
 
  font-family: var(--font-display);

  @apply row-[1_/2] col-span-full justify-self-center self-end z-[3] w-4/5 text-[12.8px] lg:text-[16px] text-center p-3 bg-secondary text-white font-normal translate-y-1/2;
}

.home__location,
.home__rooms {
  /* margin-top: 25px; */
  @apply mt-[25px];
}

.home__location,
.home__rooms,
.home__area,
.home__price {
  /* font-size: 15px;
  margin-left: 20px;

  display: flex;
  align-items: center; */

  @apply text-[12px] lg:text-[15px] ml-5 flex items-center;

  svg {
    /* fill: var(--color-primary);
    height: 20px;
    width: 20px;
    margin-right: 10px; */

    @apply fill-primary h-4 lg:h-5 w-4 lg:w-5 mr-2 lg:mr-2.5
  }
}

.home__btn {
  /* grid-column: 1 / -1; */

  @apply col-span-full
}

/* Gallery Section */

.gallery {
  /*
  background-color: var(--color-grey-light-1);
  grid-column: 2 / -1;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 15px;
  padding: 15px;
  */
  
  grid-template: repeat(7, 5vw) / repeat(8, 1fr);
  
  @apply bg-grey-light-1 col-[2_/-1] grid gap-[15px] p-[15px]; 
}

.gallery__img {
  /* width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; */

  @apply w-full h-full object-cover block;
}

.gallery__item--1 {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}

.gallery__item--2 {
  grid-row: 1 / span 3;
  grid-column: 3 / span 3;
}

.gallery__item--3 {
  grid-row: 1 / span 2;
  grid-column: 6 / 7;
}

.gallery__item--4 {
  grid-row: 1 / span 2;
  grid-column: 7 / -1;
}

.gallery__item--5 {
  grid-row: 3 / span 3;
  grid-column: 1 / span 2;
}

.gallery__item--6 {
  grid-row: 4 / span 2;
  grid-column: 3 / span 2;
}

.gallery__item--7 {
  grid-row: 4 / 5;
  grid-column: 5 / 6;
}

.gallery__item--8 {
  grid-row: 3 / span 2;
  grid-column: 6 / span 2;
}

.gallery__item--9 {
  grid-row: 3 / span 3;
  grid-column: 8 / -1;
}

.gallery__item--10 {
  grid-row: 6 / span 2;
  grid-column: 1 / 2;
}

.gallery__item--11 {
  grid-row: 6 / span 2;
  grid-column: 2 / span 2;
}

.gallery__item--12 {
  grid-row: 6 / span 2;
  grid-column: 4 / 5;
}

.gallery__item--13 {
  grid-row: 5 / span 3;
  grid-column: 5 / span 3;
}

.gallery__item--14 {
  grid-row: 6 / span 2;
  grid-column: 8 / -1;
}

/* Footer */

.footer {
  /* background-color: var(--color-secondary);
  grid-column: 2 / -1;
  padding: 80px; */

  @apply bg-secondary col-[2_/-1] p-20
}

.nav {
  /* list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
  align-items: center; */

  @apply list-none grid grid-cols-[repeat(auto-fit,_minmax(150px,_1fr))] gap-5 items-center;
}

.nav__link:link,
.nav__link:visited {
  /* font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  display: block; */

  text-decoration: none;
  font-family: var(--font-display);
  transition: all 0.2s;

  @apply text-[14px] text-white uppercase text-center p-[15px] block;
}

.nav__link:hover,
.nav__link:active {
  background-color: rgba(#fff, 0.05);
  transform: translateY(-3px);
}

.copyright {
  font-size: 14px;
  color: var(--color-grey-light-2);
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%;
}

/* Typography */

/* .heading {
  font-family: var(--font-display);
  font-weight: 400;
} */

.heading-1 {
  font-family: var(--font-display);
  /* font-weight: 400;
  font-size: 45px;
  color: var(--color-grey-light-1);
  */
  line-height: 1;

  @apply text-grey-light-1 text-4xl 2lg:text-[45px] font-normal;
}

.heading-2 {
  font-family: var(--font-display);
  /* font-weight: 400; */
  /* font-size: 40px; */
  /* font-style: italic; */
  /* line-height: 1; */

  
  @apply  text-[32px] lg:text-[40px] italic leading-[1] font-normal;

  &--light {
    /* color: var(--color-grey-light-1); */
    @apply text-grey-light-1;
  }
  &--dark {
    /* color: var(--color-grey-dark-1); */
    @apply text-grey-dark-1;
  }
}

.heading-3 {
  /* font-size: 1rem; */
  /* color: var(--color-primary);
  text-transform: uppercase; */

  @apply text-primary uppercase text-[12.8px] 2lg:text-base;
}

.heading-4 {
  font-family: var(--font-display);
  font-weight: 400;
  font-size: 19px;

  @apply font-normal text-[15.2px] 2lg:text-[19px]
}

.heading-2--light {
  /* color: var(--color-grey-light-1); */
  @apply text-grey-light-1;
}

.heading-2--dark {
  /* color: var(--color-grey-dark-1); */
  @apply text-grey-dark-1
}

.heading-4--light {
  color: var(--color-grey-light-1);
}
.heading-4--dark {
  color: var(--color-grey-dark-1);
}

.btn {
  /* background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: var(--font-display);
  font-size: 15px;
  text-transform: uppercase;
  padding: 18px 30px;
  cursor: pointer; 
  */

  font-family: var(--font-display);
  transition: all 0.2s;

  @apply uppercase text-xs 2lg:text-[15px] border-none text-white bg-primary cursor-pointer px-6 2lg:px-[30px] py-[14px] 2lg:py-[18px];

  /* &:hover {
    background-color: var(--color-primary-dark);
  } */
}

.mb-sm {
  margin-bottom: 20px;
}
.mb-md {
  margin-bottom: 30px;
}
.mb-lg {
  margin-bottom: 40px;
}
.mb-hg {
  margin-bottom: 80px;
}
